<div class="navbarr container-fluid">
  <div class="  row d-flex justify-content-end">
    <div class="col-xl-2 col-md-3 col-6 d-flex justify-content-start align-items-center">
     <h2 class="blog" style="margin-left:3em;">المقالات</h2>
    </div>
     <div class="d-md-block d-none col-xl-8 col-6">
      <div class="row d-flex justify-content-center" style="margin-top:7px;">
        <div class="pr col-xxl-2 col-6 d-flex justify-content-xxl-end justify-content-center align-items-center">
          <h5 class="text-center">ذهب عيار 22 <span style="color:green;margin:5px;"> 244<i style="font-size:0.8em;margin:5px;" class="bi bi-caret-up-fill"></i> </span>ريال</h5>
        </div>
        <div class="pr col-xxl-2 col-6 justify-content-xxl-end justify-content-center align-items-center">
            <h5 class="text-xxl-end text-md-center">ذهب عيار 22 <span style="color:green;margin:5px;"> 244<i style="font-size:0.8em;margin:5px;" class="bi bi-caret-up-fill"></i> </span>ريال</h5>
          </div>
          <div class="pr col-xxl-2 col-6 d-flex justify-content-xxl-end justify-content-center align-items-center">
            <h5 class="text-xxl-end text-md-center">ذهب عيار 22 <span style="color:green;margin:5px;"> 244<i style="font-size:0.8em;margin:5px;" class="bi bi-caret-up-fill"></i> </span>ريال</h5>
          </div>
          <div class="pr col-xxl-2 col-6 justify-content-xxl-end justify-content-center align-items-center">
            <h5 class="text-xxl-end text-md-center">ذهب عيار 22 <span style="color:green;margin:5px;"> 244<i style="font-size:0.8em;margin:5px;" class="bi bi-caret-up-fill"></i> </span>ريال</h5>
          </div>
      </div>
     </div>
    <div class="col-xl-2 col-md-3 col-6  d-flex justify-content-end align-items-center "style="padding:0px;">
        <img  class="logo" src="assets/images/logo.png"/>
      </div>
  </div>
</div>