<div class="navbarr container-fluid">
  <div class="  row d-flex justify-content-end">
    <div class="col-xl-2 col-md-3 col-6 d-flex justify-content-start align-items-center">
      <div class="dropdown">
        <h3 class="blog" style="margin-left:3em;cursor: pointer;" data-bs-toggle="dropdown">المدونات</h3>
        <ul style="float:left !important;max-height:400px;overflow: auto;" class="dropdown-menu">
          <li class="shadow-sm"><a class="text-center" [routerLink]="['/calculators/pricecalc']">حاسبة اسعار الذهب</a></li>
            <li><a [routerLink]="['/calculators/zakacalc']">حاسبة زكاة الدهب</a></li>
            <li *ngFor="let blog of blogs" [routerLink]="[ '/blog',blog.id]"><a dir="rtl" >{{blog.blogname}}</a></li>       
        </ul>
      </div>
    
    </div>
     <div class="d-md-block d-none col-xl-8 col-6">
      <div class="row d-flex justify-content-center" style="margin-top:12px;">
        <div class="pr col-xxl-2 col-6 d-flex justify-content-xxl-end justify-content-center align-items-center">
          <h5 class="text-center">ذهب عيار 18 <span style="color:#b7f1b7;margin:5px;">{{(sar.karat_18 +const('karat_18')).toFixed(2)}}<i style="font-size:0.8em;margin:5px;" class="bi bi-caret-up-fill"></i> </span>ريال</h5>
        </div>
        <div class="pr col-xxl-2 col-6 justify-content-xxl-end justify-content-center align-items-center">
            <h5 class="text-xxl-end text-md-center">ذهب عيار 21 <span style="color:#b7f1b7;margin:5px;">{{(sar.karat_21 +const('karat_21')).toFixed(2)}}<i style="font-size:0.8em;margin:5px;" class="bi bi-caret-up-fill"></i> </span>ريال</h5>
          </div>
          <div class="pr col-xxl-2 col-6 d-flex justify-content-xxl-end justify-content-center align-items-center">
            <h5 class="text-xxl-end text-md-center">ذهب عيار 22 <span style="color:#b7f1b7;margin:5px;">{{(sar.karat_22 +const('karat_22')).toFixed(2)}}<i style="font-size:0.8em;margin:5px;" class="bi bi-caret-up-fill"></i> </span>ريال</h5>
          </div>
          <div class="pr col-xxl-2 col-6 justify-content-xxl-end justify-content-center align-items-center">
            <h5 class="text-xxl-end text-md-center">ذهب عيار 24 <span style="color:#b7f1b7;margin:5px;">{{(sar.karat_24 +const('karat_24')).toFixed(2)}}<i style="font-size:0.8em;margin:5px;" class="bi bi-caret-up-fill"></i> </span>ريال</h5>
          </div>
      </div>
     </div>
    <div style="cursor:pointer;" [routerLink]="['/home']" class="col-xl-2 col-md-3 col-6  d-flex justify-content-end align-items-center "style="padding:0px;">
        <img  style="cursor:pointer;" class="logo" alt="أسعار الذهب" src="assets/images/icon2.png"/>
      </div>
  </div>
</div>