<div class="conatiner-fluid">
    <div class="row d-flex justify-content-center" style="margin-top:9em;">
        <div class="col-12" >
            <h1 class="header text-center">اسعار الذهب</h1>
        </div>
        <div clas="col-12" style="margin-top:5em;">
            <h4 class="lt text-center mb-3">اسعار الذهب في السعودية</h4>
            <app-maintable></app-maintable>
        </div>
        <div class=" history col-12" style="margin-top:5em;
        overflow-y:scroll;">
            <h4 class="lt text-center mb-3">اسعار جرام الذهب في الايام السابقة</h4>
            <history-table></history-table>
        </div>
        <div style="margin-top:5em;">
            <h4 class="lt text-center mb-3">أسعار الذهب اليوم في السعودية بيع وشراء</h4>
            <app-commission-table></app-commission-table>
        </div>
        <div style="margin-top:5em;">
            <h4 class="lt text-center mb-3">أسعار شراء سبائك الذهب عيار 24</h4>
            <app-sbaektable></app-sbaektable>
        </div>
    </div>
    <div class="row">
       <app-blogs></app-blogs>
    </div>
</div>
