@import "../../../variables";
.header{
    font-family:"ltarabic";
}
.lt{
    font-family:"ltarabic"; 
}
.header{
    font-size:2.5em;
    color:$secondary;
}
.blog{
    margin-top:5em;
    padding:10px;
    color:blue;
}