<div class="conatiner-fluid">
    <div class="row d-flex justify-content-center" style="margin-top:9em;">
        <div class="col-sm-12 col-11 d-flex justify-content-center" >
           <app-spotgold></app-spotgold>
        </div>
        <div clas="col-12" style="margin-top:5em;">
            <h4 class="lt text-center mb-3">اسعار الذهب في السعودية</h4>
            <app-maintable></app-maintable>
        </div>
        <div class=" history col-12" style="margin-top:5em;
        overflow-y:scroll;">
            <h4 style="cursor: pointer;" [routerLink]="['/singleview']" [queryParams]="{table: 'pastdaysprice'}" class="lt text-center mb-3">اسعار جرام الذهب في الايام السابقة</h4>
            <history-table></history-table>
        </div>
        <div style="margin-top:5em;">
            <h4 style="cursor: pointer;" [routerLink]="['/singleview']" [queryParams]="{table: 'pricetoday'}" class="lt text-center mb-3">أسعار الذهب اليوم في السعودية بيع وشراء</h4>
            <app-commission-table></app-commission-table>
        </div>
        <div style="margin-top:5em;">
            <h4 style="cursor: pointer;" [routerLink]="['/singleview']" [queryParams]="{table: 'golderat24'}" class="lt text-center mb-3">أسعار شراء سبائك الذهب عيار 24</h4>
            <app-sbaektable></app-sbaektable>
        </div>
    </div>
</div>
