<div class="conatiner-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="header text-center">اسعار الذهب</h1>
        </div>
        <div style="margin-top:5em;">
            <h4 class="lt text-center mb-3">اسعار الذهب في السعودية</h4>
            <app-table></app-table>
        </div>
        <div style="margin-top:10em;">
            <h4 class="lt text-center mb-3">اسعار شراء سبائك الذهب عيار 24</h4>
            <app-table></app-table>
        </div>
        <div style="margin-top:10em;">
            <h4 class="lt text-center mb-3">اسعار جرام الذهب في الايام السابقة</h4>
            <app-table></app-table>
        </div>
    </div>
    <div style="margin-top:10em;" class="row">
        <div *ngFor="let blog of blogs" [routerLink]="[ '/blog',blog.id]" class="col-12 blog bg-white">
            <h5 class="text-center">{{blog.blogname}}</h5>
         </div>
    </div>
</div>
