<h4 class="lastupdate">اخر تحديث منذ<span style="margin:7px;">{{lastupdate}}</span>دقيقة <i class="bi bi-clock"></i></h4>
<div class="table bg-white container-fluid">
    <div  class="header-row row">
     <div  class="col-6">
      <h5>{{usd._date |date:"yyyy-MM-dd"}}</h5>
     </div>
     <div style="" class="col-6 border-left">
       <h5>اسعار جرام الذهب اليوم</h5>
     </div>
    </div>
    <div class="body-row row">
      <div class="col-3">
        <h5 class="text-center">السعر بالدولار</h5>
      </div>
      <div class="col-3">
        <h5 class="text-center">السعر بالريال</h5>
      </div>
      <div class="col-6 border-left">
        <h5 class="text-center">الوحدة</h5>
      </div>
    </div>
    <div  class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{usdounce}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{(sarounce)}}</h5>
        </div>
        <div  class="col-6 border-left">
          <h5 class="arabic text-center">سعر اونصة الذهب</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{usd.karat_24}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{(sar.karat_24 + const('karat_24')!.new).toFixed(2)}}</h5>
        </div>
        <div class="col-6 border-left">
          <h5 [routerLink]="['/karat','karat_24']" class="arabic text-center">سعر جرام الذهب عيار <span>24</span></h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{usd.karat_22}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{(sar.karat_22 + const('karat_22')!.new).toFixed(2)}}</h5>
        </div>
        <div class="col-6 border-left">
          <h5 [routerLink]="['/karat','karat_22']" class="arabic text-center">سعر جرام الذهب عيار <span>22</span></h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{usd.karat_21}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{(sar.karat_21 + const('karat_21')!.new).toFixed(2)}}</h5>
        </div>
        <div class="col-6 border-left">
          <h5 [routerLink]="['/karat','karat_21']" class="arabic text-center">سعر جرام الذهب عيار <span>21</span></h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{usd.karat_18}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{(sar.karat_18 + const('karat_18')!.new).toFixed(2)}}</h5>
        </div>
        <div class="col-6 border-left">
          <h5 [routerLink]="['/karat','karat_18']" class="arabic text-center">سعر جرام الذهب عيار <span>18</span></h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{usd.karat_14}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{(sar.karat_14 + const('karat_14')!.new).toFixed(2)}}</h5>
        </div>
        <div class="col-6 border-left">
          <h5 [routerLink]="['/karat','karat_14']" class="arabic text-center">سعر جرام الذهب عيار <span>14</span></h5>
        </div>
      </div>
</div>