@import "../../../../variables";
.con{
    border:1px solid black;
   padding:40px;
}
i{
    color:#047bb3;
}
.sm-con{
    position: relative;
}
.decor{
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width:70px;
    border:1px solid black;
    border-bottom:0px;
    height:13px;
    bottom:0%;
    background-color:$background;
}
.sell,.buy{
   padding-top:5px;
   padding-bottom:5px;
   border:1px solid grey;
}
@media(max-width:575px){
.sell,.buy{
    display: flex;
    justify-content: center;
}
h5,h3{
    margin-left:0px !important;
    margin-right:0px !important;
}
}
@media(min-width:940px){
    .sell,.buy{
    width:300px !important;
}
}
h5{
    font-size:1.1em;
}
.sell h5{
    color:#a30000;
}
.buy h5{
    color:#047bb3;
}