<div class="table bg-white container-fluid">
    <div  class="header-row row">
    
     <div  class="col-6">
      <h5>2024/02/06</h5>
     </div>
     <div style="" class="col-6 border-left">
       <h5>اسعار جرام الذهب اليوم</h5>
     </div>
    </div>
    <div class="body-row row">
      <div class="col-3">
        <h5 class="text-center">السعر بالدولار</h5>
      </div>
      <div class="col-3">
        <h5 class="text-center">السعر بالريال</h5>
      </div>
      <div class="col-6 border-left">
        <h5 class="text-center">الوحدة</h5>
      </div>
    </div>
    <div  class="body-row row">
        <div class="col-3">
          <h5 class="text-center">65.10</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">244.13</h5>
        </div>
        <div  class="col-6 border-left">
          <h5 class="arabic text-center">سعر جرام الذهب عيار 24</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">59.68</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">223.79</h5>
        </div>
        <div class="col-6 border-left">
          <h5 class="arabic text-center">سعر جرام الذهب عيار 22</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">59.68</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">223.79</h5>
        </div>
        <div class="col-6 border-left">
          <h5 class="arabic text-center">سعر جرام الذهب عيار 22</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">59.68</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">223.79</h5>
        </div>
        <div class="col-6 border-left">
          <h5 class="arabic text-center">سعر جرام الذهب عيار 22</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">59.68</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">223.79</h5>
        </div>
        <div class="col-6 border-left">
          <h5 class="arabic text-center">سعر جرام الذهب عيار 22</h5>
        </div>
      </div>
</div>