
<div class="table bg-white container-fluid">
    <div  class="header-row row">
     <div  class="col-6">
      <h5>{{this.localdate}}</h5>
     </div>
     <div style="" class="col-6 border-left">
       <h5>اسعار جرام الذهب اليوم</h5>
     </div>
    </div>
    <div class="body-row row">
      <div class="col-3">
        <h5 class="text-center">السعر بالدولار</h5>
      </div>
      <div class="col-3">
        <h5 class="text-center">السعر بالريال</h5>
      </div>
      <div class="col-6 border-left">
        <h5 class="text-center">الوحدة</h5>
      </div>
    </div>
    <div  class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24).toFixed(2)) | price}}</h5>
        </div>
        <div  class="col-6 border-left">
          <h5 class="arabic text-center">سبيكة ذهب 1 جرام</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *2.5).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *2.5).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-6 border-left">
          <h5  class=" arabic text-center">سعر سبيكة ذهب 2.5 جرام</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *10).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *10).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سعر سبيكة ذهب 10 جرام</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *11.6).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *11.6).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سعر سبيكة ذهب 11.66 جرام (1 تولة)</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *15.55).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *15.55).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سعر سبيكة ذهب 15.55 جرام (نصف أونصة)</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *20).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *20).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سعر سبيكة ذهب 20 جرام</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *31.1).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *31.1).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سعر سبيكة ذهب 31.1 جرام (1 أونصة)</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *50).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *50).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سبيكة ذهب 50 جرام</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *100).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *100).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سبيكة ذهب 100 جرام</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *116).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *116).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سبيكة ذهب 116.6 جرام (10 تولة)</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *250).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *250).toFixed(2))|price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سبيكة ذهب 250 جرام (ربع كيلو)</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *500).toFixed(2)) |price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *500).toFixed(2)) |price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سبيكة ذهب 500 جرام (نصف كيلو)</h5>
        </div>
      </div>
      <div class="body-row row">
        <div class="col-3">
          <h5 class="text-center">{{Number((usd24 *1000).toFixed(2)) | price}}</h5>
        </div>
        <div class="col-3">
          <h5 class="text-center">{{Number((sar24 *1000).toFixed(2)) |price}}</h5>
        </div>
        <div class="col-6 border-left">
            <h5  class=" arabic text-center">سبيكة ذهب 1000 جرام (كيلو)</h5>
        </div>
      </div>
</div>